  .back-to-top {
	cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	  width: 100%;
      margin: auto;
  }
  .marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;}
  
.navbar-light {
	-webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.05);
	z-index: 10000;
	left: 0;
	right: 0;
	text:0;
    background-color: rgba(0,0,0,0.7);
    border-bottom: 1px solid #dfdfdf;
	}
.navbar-light a {color: #FFFFFF;}
.nav-light > li > a:hover,
.nav-light > li > a:focus {
  text-decoration: none;
  background-color: #337AB7;
  border-color: #337ab7;
}
.navbar-light .navbar-brand {
  color: #9d9d9d;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-light .navbar-text {
  color: #9d9d9d;
}
.navbar-light.navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-light .navbar-nav > .disabled > a,
.navbar-light .navbar-nav > .disabled > a:hover,
.navbar-light .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-light .navbar-toggle {
  border-color: #333;
}
.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:focus {
  background-color: #333;
}
.navbar-light .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-light .navbar-collapse,
.navbar-light .navbar-form {
  border-color: #101010;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-light .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-light .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-light .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-light .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-light .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-light .navbar-link {
  color: #9d9d9d;
}
.navbar-light .navbar-link:hover {
  color: #fff;
}
.navbar-light .btn-link {
  color: #9d9d9d;
}
.navbar-light .btn-link:hover,
.navbar-light .btn-link:focus {
  color: #fff;
}
.navbar-light .btn-link[disabled]:hover,
fieldset[disabled] .navbar-light .btn-link:hover,
.navbar-light .btn-link[disabled]:focus,
fieldset[disabled] .navbar-light .btn-link:focus {
  color: #444;
}

.footer-black {
	color: #FFFFFF;
	background-color: #000000;}
.footer-black a {color: #FFFFFF;}
.header-black {
	color: #FFFFFF;
	background-color: #000000;}
.header-black a {color: #FFFFFF;}
.header {
	padding-top: 70px;
	padding-bottom: 10px;
	width:100%;
	margin-bottom: 20px;
	color: #007f7f;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-webkit-text-stroke: 2px rgba(255,255,255,0.6);
	background-image: url(../img/hsl1.png);	
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	}
.p7 {
	margin-top: 10%;
	margin-bottom: 15%;
	}

